*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    margin: 0 auto;
      margin: 10px;
      
     header{
        a{
            text-decoration: none;
            h1{
                color: purple;
            }
        }
        button{
            margin-left: 1200px;
            margin-top: -85px;
        }
        ul{
            display: flex;
            gap: 25px;
            margin-left: 490px;
            margin-top: -35px;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color:white;
                    transition: all 0.5s linear;
                    &:hover{
                        color: crimson;
                        font-size: 17px;
                    }
                }
            }
        }
     }
     main{
        margin-top: 90px;
        color: white;
        img{
            width: 45%;
            border-radius: 20px;
            display: inline;
        }
        p{
            margin-left: 650px;
            transform: translateY(-330px);
            font-size: 20px;
        }
        .second{
            font-size: 34px;
            
        }
     }
}